@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
}

h1 {
    font-family: Poppins;
    /* text-transform: uppercase; */
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

h1.greeting,
h1.greeting span {
    font-family: Ubuntu;
    font-weight: 600;
    font-size: 6rem;
    margin-bottom: 1.5rem;
    color: rgb(46, 46, 46);
}

h1.greeting span {
    color: rgb(10, 10, 60);
}

.spinner-container {
    width: 30rem;
    height: 30rem;
    position: relative;
}

.spinner-container .spinner {
    width: 100%;
    height: 100%;
    content: "Hello";
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    border: 3rem solid rgb(220, 220, 220);
    border-bottom-color: rgb(45, 88, 245);
    will-change: transform;
    animation: 2s linear infinite spinner;
}
